function StartMenu.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
not
pop this 0
push pointer 0
return
function StartMenu.draw 2
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 120
push constant 70
push constant 250
push constant 40
push constant 20
call String.new 1
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 8
push constant 21
call Button.new 7
pop local 1
push local 1
call Button.print 1
pop temp 0
push constant 120
push constant 125
push constant 250
push constant 40
push constant 21
call String.new 1
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 13
push constant 21
call Button.new 7
pop local 1
push local 1
call Button.print 1
pop temp 0
push constant 0
return
function StartMenu.wait 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 2
push local 2
push constant 128
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
push local 2
push constant 144
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push this 0
call SettingsMenu.draw 2
pop this 0
push pointer 0
call StartMenu.draw 1
pop temp 0
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push this 0
return
